/* Set the size of the div element that contains the map */
body {
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#map {
  height: 100%;
  width: 100%;
}

.demo-card-wide {
  width: min-content;
  padding: 1% 2.5%;
  border-radius: 8px;
}

.mdl-textfield {
  width: 100%;
}

#formMap {
  height: 120px;
  width: 100%;
  margin-bottom: 8px;
  border-radius: 8px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /*overflow-y: hidden;*/
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  margin-top: 124px;
  padding: 20px;
  border: 1px solid #888;
  max-width: 40vh; /* Could be more or less, depending on screen size */
  min-width: 256px;
}

.modal::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
